
$img-list: "../images/check_list.svg";
$logo-bg: "../images/logo-background.svg";

$white: #ffffff;
$black: #000000;
$grey: #D4CFCF;
$bg-blue: #F6F8FF;
$bg-blue-dark: #13265E;
$bg-blue-dark-01: #0E1E4F;
$border-input: #3452AB;
$footer-bg: #03123F;


$shadow: 0px 5px 15px -5px rgba(0,0,0,0.52);