body {
	left: 0;
	@include transition(linear all 400ms);
	color: $gray-700;
	&.open {
		right: 230px;
		.navbar {
			right: 230px;
		}
		&:before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            z-index: 4;
        }
	}
	@media(max-width: 1024px) {
		font-size: 14px;
	}
}

.section {
	padding: 80px 0;
	background-color: $white;
	position: relative;
	overflow: hidden;
	@media(max-width: 1024px) {
		padding: 30px 0;
	}
	&.bg-blue {
		background-color: $bg-blue;
	}
	&.bg-blue-dark {
		background-color: $bg-blue-dark;
	}
	&#contact {
		&:after {
			content: "";
			width: 634px;
			height: 640px;
			position: absolute;
			left: -200px;
			bottom: -70px;
			background-image: url($logo-bg);
			background-repeat: no-repeat;
			background-size: 100%;
			z-index: 1;
		}
	}
}
ul {
	&.list-icon {
    	li {
    		position: relative;
    		padding-left: 30px;
    		margin-bottom: 10px;
    		&:last-child {
    			margin-bottom: 0;
    		}
    		i {
    			position: absolute;
    			top: 0px;
    			left: 0;
    			color: $orange;
    		}
    	}
    }
}
.title {
	margin-bottom: 20px;
	padding-bottom: 2px;
	position: relative;
	text-align: center;
	h2 {
		font-family: $font-poppins-serif;
		font-weight: 600;
		text-transform: uppercase;
		&.text-white {
			color: $white;
		}
		@media(max-width: 991px) {
			font-size: 24px;
		}
	}
	&:after {
		content: "";
		width: 90px;
		height: 7px;
		background-color: $orange;
		border-radius: 10px;
		position: absolute;
		left: 50%;
		bottom: 0;
		@include translateX(-50%);
		@media(max-width: 991px) {
			width: 50px;
		}
	}
	&.left {
		text-align: left;
		&:after {
			left: 0;
			@include translateX(0);
		}
	}
}
h3 {
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 30px;
	@media(max-width: 991px) {
		font-size: 18px;
	}
}
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}