<footer class="footer">
	<div class="container">
		<div class="d-flex">
			<p class="mb-0">&copy; 2019  by Devid Septian</p>
			<ul class="list-unstyled">
				<li><img src="./dist/images/facebook-square.png" alt="facebook"></li>
				<li><img src="./dist/images/twitter-square.png" alt="twitter"></li>
				<li><img src="./dist/images/linkedin-square.png" alt="linkedin"></li>
				<li><img src="./dist/images/pinterest-square.png" alt="pinterest"></li>
			</ul>
		</div>
	</div>
</footer>