{% set page_id = "Index" %}
{% extends "layout.html" %}
	{% block content %}
	
	<div class="home" id="home">
		<section class="jumbotron jumbotron-fluid d-flex align-items-center">
		  	<div class="hero-content text-center d-block">
				<h1>Hi, I'am Devid Septian</h1>
				<p>Creative UI / UX Engineer & CSS Specialist</p>
			</div>
			<div class="circle pos-1 rellax" data-rellax-speed="-4"></div>
			<div class="circle md pos-2 rellax" data-rellax-speed="-3"></div>
			<div class="circle lg pos-3 rellax" data-rellax-speed="-5"></div>
			<div class="circle pos-4 rellax" data-rellax-speed="-3"></div>
			<div class="circle md pos-5 rellax" data-rellax-speed="-3"></div>
			<div class="circle lg pos-6 rellax" data-rellax-speed="-4"></div>
		</section>
		<section class="" id="about">
			<div class="container">
				<div class="about-wrapp rellax" data-rellax-speed="-1">
					<div class="row">
						<div class="col-md-6"><img src="./dist/images/pict.png" alt="about" class="img-fluid"></div>
						<div class="col-md-6">
							<div class="about-desc">
								<div class="title left">
									<h2>About Me</h2>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<h3 class="mt-4">My Job Description</h3>
								<ul class="list-unstyled list-icon">
									<li><i class="material-icons">check</i>Convert mockup design PSD / XD / Sketch into web page (HTML / CSS / JS)</li>
									<li><i class="material-icons">check</i>Layout bug fixing</li>
									<li><i class="material-icons">check</i>Create Mobile web / responsive web</li>
									<li><i class="material-icons">check</i>Create email template</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="skills">
			<div class="container">
				<div class="title mb-5">
					<h2>My Skills</h2>
				</div>
				<div class="row justify-content-md-center">
					<div class="col-md-8">
						<div class="row">
							<div class="col-6 col-md-3">
								<div class="chart-skill">
									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
								      <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <circle class="circle-chart__circle" stroke="#D71919" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <g class="circle-chart__info">
								        <text class="circle-chart__percent" x="16.91549431" y="17.5" alignment-baseline="central" text-anchor="middle" font-size="6">80%</text>
								      </g>
								    </svg>
								    <p>UI</p>
								</div>
							</div>
							<div class="col-6 col-md-3">
								<div class="chart-skill">
									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
								      <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <circle class="circle-chart__circle" stroke="#7ED321" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <g class="circle-chart__info">
								        <text class="circle-chart__percent" x="16.91549431" y="17.5" alignment-baseline="central" text-anchor="middle" font-size="6">80%</text>
								      </g>
								    </svg>
								    <p>UX</p>
								</div>
							</div>
							<div class="col-6 col-md-3">
								<div class="chart-skill">
									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
								      <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <circle class="circle-chart__circle" stroke="#45BFF0" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <g class="circle-chart__info">
								        <text class="circle-chart__percent" x="16.91549431" y="17.5" alignment-baseline="central" text-anchor="middle" font-size="6">80%</text>
								      </g>
								    </svg>
								    <p>HTML/HTML5</p>
								</div>
							</div>
							<div class="col-6 col-md-3">
								<div class="chart-skill">
									<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
								      <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <circle class="circle-chart__circle" stroke="#50E3C2" stroke-width="2" stroke-dasharray="80,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
								      <g class="circle-chart__info">
								        <text class="circle-chart__percent" x="16.91549431" y="17.5" alignment-baseline="central" text-anchor="middle" font-size="6">80%</text>
								      </g>
								    </svg>
								    <p>CSS/CSS3</p>
								</div>
							</div>
						</div>
						<div class="list-skill">
							<h3>HAS EXPERIENCE WITH:</h3>
							<ul class="list-unstyled list-icon">
								<li><i class="material-icons">check</i>Bootstrap</li>
								<li><i class="material-icons">check</i>Hubspot</li>
								<li><i class="material-icons">check</i>Wordpress Theme</li>
								<li><i class="material-icons">check</i>UI Design</li>
								<li><i class="material-icons">check</i>UX Design</li>
							</ul>
							<h3>AND ALSO FAMILIAR WITH:</h3>
							<p>NPM, Gulp, HandlebarsJs, JSX React,  Git, CSS Srpites, Font Icon, Cross Browser, Adobe Photoshop, Adobe XD, Sketch / Zeplin,  Figma, Per Page SEO</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-blue" id="portfolio">
			<div class="container">
				<div class="title mb-5">
					<h2>Portfolio</h2>
				</div>
				<div class="gallery">
					<div class="gallery-wrapper">
						<div class="btn-group filter-options">
							<button class="btn btn--primary active" id='all'>All</button>
				            <button class="btn btn--primary" data-group="logo design">Logo Design</button>
				            <button class="btn btn--primary" data-group="banner design">Banner Design</button>
				            <button class="btn btn--primary" data-group="web design">Web Design</button>
				          </div>
						<div id="grid"class="row my-shuffle-container">
							<div class="col-4 picture-item" data-groups='["logo design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="col-4 picture-item" data-groups='["banner design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="col-4 picture-item" data-groups='["web design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="col-4 picture-item" data-groups='["banner design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="col-4 picture-item" data-groups='["logo design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="col-4 picture-item" data-groups='["web design"]'>
								<a href="#"><img src="./dist/images/portfolio.png" alt="portfolio"></a>
								<div class="caption">
									<h3><a href="#">Porfolio Name</a></h3>
									<p>Feb 2019</p>
								</div>
							</div>
							<div class="shuffle_sizer"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-blue-dark" id="contact">
			<div class="icon-img-email rellax" data-rellax-speed="1"><img src="./dist/images/mail-iso.svg" alt="contact" class="img-fluid "></div>
			<div class="icon-img-paper rellax" data-rellax-speed="1"><img src="./dist/images/paper-plane.svg" alt="contact" class="img-fluid"></div>
			<div class="container">
				<div class="title mb-5">
					<h2 class="text-white">Contact Me</h2>
				</div>
				<div class="row justify-content-md-center">
					<div class="col col-md-6">
						<div class="contact-wrapper">
							<p class="text-center">Feel free to fill the form below</p>
							<div class="form-wrapper">
								<form>
									<form>
										<div class="form-group">
									    <label for="InputName">Name</label>
									    <input type="text" class="form-control" id="InputName">
									  </div>
									  <div class="form-group">
									    <label for="InputEmail1">Email</label>
									    <input type="email" class="form-control" id="InputEmail1">
									  </div>
									  <div class="form-group">
									    <label for="message">Message</label>
									    <textarea class="form-control" id="message" rows="6"></textarea>
									  </div>
									  <button type="submit" class="btn btn-primary ml-auto">Send</button>
									</form>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% endblock %}
	{% block script %}
	{% endblock %}