.footer {
	background-color: $footer-bg;
	padding: 20px 0;
	color: $white;
	@media(max-width: 768px) {
			display: block;
			margin-left: 0;
		}
	ul {
		margin-top: 8px;
		margin-bottom: 0;
		margin-left: auto;
		li {
			display: inline-block;
			margin-left: 8px;
		}
		@media(max-width: 768px) {
			display: block;
			margin-left: 0;
		}
	}
	@media(max-width: 768px) {
		text-align: center;
	}
	.d-flex {
		@media(max-width: 768px) {
			flex-direction: column;
		}
	}
}