.gallery {
  .picture-item {
    padding-bottom: 50px;
    position: relative;
    @media(max-width: 767px) {
      padding-bottom: 10px;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    img {
      max-width: inherit;
      width: 100%;
    }
    .caption {
    	background-color: $white;
    	padding: 10px;
    	border-radius: 5px;
    	box-shadow: $box-shadow;
			position: absolute;
			left: 50%;
			bottom: 30px;
			width: 80%;
			@include translateX(-50%);
      @media(max-width: 991px) {
        bottom: 10px;
        padding: 8px;
      }
      @media(max-width: 480px) {
        display: none;
      }
    	h3 {
    		font-size: 18px;
    		font-weight: 600;
    		margin-bottom: 0;
        @media(max-width: 991px) {
          font-size: 16px;
        }
    		a {
    			color: $black;
    			&:hover {
    				text-decoration: none;
    			}
    		}
    	}
    	p {
    		color: $orange;
    		margin: 0;
    		font-size: 14px;
        @media(max-width: 991px) {
          font-size: 12px;
        }
    	}
    }
  }
  .filter-options {
    margin-bottom: 40px;
    text-align: center;
    .btn {
      color: $black;
      background-color: transparent;
      border-radius: 5px;
      border: none;
      padding: 4px 18px;
      @media(max-width: 767px) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &.active {
        color: $white;
        background-color: $orange;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  .my-shuffle-container {
    .col-4 {
      @media(max-width: 991px) {
        flex: 0 0 50%;
        max-width: 50%;
    	}
    }
  }
}