.navbar {
	background-color: transparent;
	height: 90px;
	left: 0;
	@include transition(linear all 400ms);
	@media(max-width: 1024px) {
		height: 60px;
		padding: 8px 0 !important;
	}
	&.fixed-top {
		position: fixed;
	}
	.navbar-nav {
		li {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $white;
				font-size: 16px;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.container {
		@media(max-width: 1024px) {
			max-width: inherit;
		}
	}
	&.active {
		background-color: $white;
		.navbar-nav {
			li {
				a {
					color: $black;
				}
			}
		}
	}
}