.jumbotron {
	height: 80vh;
	justify-content: center;
	background: rgb(12,42,138);
	background: -webkit-linear-gradient(41deg, rgba(12,42,138,1) 0%, rgba(0,17,65,1) 100%);
	background: -o-linear-gradient(41deg, rgba(12,42,138,1) 0%, rgba(0,17,65,1) 100%);
	background: linear-gradient(131deg, rgba(12,42,138,1) 0%, rgba(0,17,65,1) 100%);
	position: relative;
	@media(max-width: 480px) {
        height: 60vh;
    }
	.circle {
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: $white;
		opacity: .1;
		z-index: 1;
		@media(max-width: 768px) {
	      display: none;
	    }
		&.md {
			width: 80px;
			height: 80px;
		}
		&.lg {
			width: 120px;
			height: 120px;
		}
		&.pos-1 {
			top: 60%;
			left: 30%;
		}
		&.pos-2 {
			bottom: 10%;
			left: 20%;
		}
		&.pos-3 {
			top: 30%;
			left: 10%;
		}
		&.pos-4 {
			bottom: 10%;
			right: 20%;
		}
		&.pos-5 {
			top: 60%;
			right: 30%;
		}
		&.pos-6 {
			top: 25%;
			right: 10%;
		}
	}
	.hero-content {
		position: relative;
		z-index: 2;
		h1 {
			font-size: 48px;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 48px;
			@media(max-width: 991px) {
		        font-size: 36px;
		    }
		    @media(max-width: 480px) {
		        font-size: 24px;
		    }
		}
		p {
			color: $orange;
			font-size: 18px;
			margin-bottom: 0;
			@media(max-width: 991px) {
		        font-size: 16px;
		    }
		}
	}
}